body {
    margin: 0;
}

* {
    font-family: Arial;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 480px;
}

.header {
    background-color: #0b3b54;
    display: flex;
    height: 72px;
}

.logo {
    font-size: 24px;
    margin: auto 0 auto 24px;
}
.logo-item {
    color: #C9A920;
    font-weight: bold;
    text-decoration: none;
}

.navigation-content {
    margin: auto 12px;
}
.navigation-content-item {
    font-size: 18px;
    color: #C9A920;
    text-decoration: none;
}
.navigation-content-item:hover {
    color: #ffd926;
}
.navigation {
    display: flex;
    flex-direction: row;
    margin: auto auto auto 48px;
}

.container-content {
    background-color: #f5f5f5;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.image {
    float: left;
    margin-right: 12px;
}

.content {
    display: flex;
    margin: 24px;
}

.content-inner {
    position: relative;
}

.box {
    margin-left: 12px;
    margin-bottom: 24px;
    width: 200px;
    float: right;
}

.box_inner {
    margin: 12px;
}

.content-inner-text {
    margin: 0;
    text-align: justify;
}

.container-content-head {
    margin: 24px 24px 0;
    font-size: 18px;
    font-weight: bold;
}

.box-fieldset {
    padding: 24px 12px;
}

.box-head {
    display: block;
    width: 100%;
    margin: 0 0 12px;
}

.box-input {
    width: 100%;
    margin-bottom: 12px;
}
